 .special {
 color: orange;
 font-weight: bold;
 }
 #second{
     color: orange;
 font-weight: bold;
 }

 h1+p{
    
    font-size: 200%;
 }
 a:link{
    color: aquamarine;
 }
 a:visited{
    color: rebeccapurple;
 }